.git
.github
.venv
venv
env
data/
data/**
outputs/**
!outputs/.gitkeep
models/m3_experiments/
models/m3/
node_modules
frontend/
docs/
*.md
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
Thumbs.db
